.header{  
      
    
    &-tittle{
        display: grid;
        grid-template-rows: em(42) em(42);
        grid-template-columns: em(16) em(85) em(101) em(26) em(10) 1fr em(16); 
        font-family: $font-tittle;
        color: #060A24;        
        

        &-1{
            grid-area: 1/2/2/3;
            line-height: 1;
            font-size: em(36);
            font-weight: 400;
            height: 42px;       
            
        }
        
       &-2{   
          grid-area: 1/3/2/4;        
          text-decoration: line-through;
          line-height: 1;
          font-size: em(36);
          font-weight: 400;
          padding-left: em(2);
          height: 42px;
        }

       &-3{
            grid-area: 2/2/3/6; 
            line-height: 1;
            font-size: em(36);
            font-weight: 400; 
            height: 42px;           
                
        }

       &-3::after{
           content: ".";
        }       
    }


    &-text{      
        text-align: justify;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 30px;
        padding-bottom: 30px;
        font-family: $font-text;
        color: #060A24;
        font-size: em(14);
        line-height: 1.5;       
        
    }

    &-container{    
        display: grid;
        grid-template-rows: em(13) em(22) em(13);
        grid-template-columns: em(16) repeat(3, 1fr) em(16);
        padding-bottom: em(24);
        text-decoration: #00F3BB;
        
        
        
      
        &-button{
            grid-area: 1/2/4/5;
            text-transform: uppercase;
            font-family: $font-text;
            font-weight:500;
            color: #060A24;
            font-size: em(16);
            border: none;
            background-color: #00F3BB ;
            text-decoration: none;
            text-align: center;
            line-height: 3 ;
        }       

    }

}

@media screen and (min-width: 768px){

    .header{

        &-tittle{
            display: flex;
            color: #060A24;
            padding-left: em(100);
            padding-top: em(120); 
            height: em(65); 
                  
                    
            &-1,&-2,&-3{
                font-family: $font-tittle;
                padding-right: em(4); 
                font-size: 36px;
                font-weight: 500;                                         
                
            }

            &-2{                         
                text-decoration: line-through;                
                                
            }            

            &-3::after {
                content: ".";
                color: #0000EC;
            }
        
        }

        &-text{      
            text-align: justify;
            padding-left: em(100);
            padding-right: em(16);
            padding-top: 0;
            margin-top: 0;
            font-family: $font-text;
            color: #060A24;
            font-size: em(16);
            font-weight: 500;
            line-height: 1.5;
            width: em(350);
            

        }

        &-container{    
            display: grid;
            grid-template-rows: em(56);
            grid-template-columns: em(100) em(226) 1fr;
            

            &-button{
                grid-area: 1/2/2/3;
                text-transform: uppercase;
                font-family: $font-text;                
                color: #060A24;
                font-size: em(16);
                border: none;
                background-color: #00F3BB ;
                
                
            }
           
    
        }
           
        
    }    

}

@media screen and (min-width: 1200px){

    .header{

        &-tittle{
            padding-left: em(200);
            height: em(120); 
                      
            &-1,&-2,&-3{
                font-size: 58px;
                font-weight: 500;                                         
                
            }
        
        }

        &-text{      
            padding-top: 0;
            padding-left: em(200);           
            width: em(590);
        
        }

        &-container{    
        
            grid-template-columns: em(200) em(226) 1fr;
           
        }
              
    }

    
}


